<app-navbar [items]="items"></app-navbar>
<br>
<br>
<div class="container">
    <div class="row">
        <div id="left" class="col-xl-3 col-md-12">
            <p-accordion [multiple]="true">
                <h5 class="col-9">Job Filter</h5>
                <form>
                    <p-accordionTab header="Job Location" [selected]="true">
                        <label class="form-check">
                            <input class="form-check-input" type="checkbox" (click)="AddCity('Coimbatore')"
                                value="Coimbatore">
                            <span class="form-check-label">
                                Coimbatore
                            </span>
                        </label> <!-- form-check.// -->
                        <label class="form-check">
                            <input class="form-check-input" (click)="AddCity('Chennai')" type="checkbox"
                                value="Chennai">
                            <span class="form-check-label">
                                Chennai
                            </span>
                        </label> <!-- form-check.// -->
                        <label class="form-check">
                            <input class="form-check-input" (click)="AddCity('Bengaluru')" type="checkbox"
                                value="Bengaluru">
                            <span class="form-check-label">
                                Bangalore/Bengaluru
                            </span>
                        </label>
                    </p-accordionTab>
                    <p-accordionTab header="Salary (INR)" [selected]="true">
                        <label class="form-check">
                            <input class="form-check-input" type="radio" (click)="AddSalary(200000, 500000)"
                                name="salary" value="">
                            <span class="form-check-label">
                                2 Lakhs - 5 Lakhs
                            </span>
                        </label> <!-- form-check.// -->
                        <label class="form-check">
                            <input class="form-check-input" type="radio" (click)="AddSalary(500001, 1000000)"
                                name="salary" value="">
                            <span class="form-check-label">
                                6 Lakhs - 10 Lakhs
                            </span>
                        </label> <!-- form-check.// -->
                        <label class="form-check">
                            <input class="form-check-input" type="radio" (click)="AddSalary(1000001, 999999999)"
                                name="salary" value="">
                            <span class="form-check-label">
                                10 Lakhs +
                            </span>
                        </label>
                        <label class="form-check">
                            <input class="form-check-input" type="radio" (click)="AddSalary(0, 0)" name="salary"
                                value="">
                            <span class="form-check-label">
                                Not Specified
                            </span>
                        </label>
                    </p-accordionTab>
                    <p-accordionTab header="Job Type" [selected]="true">
                        <label class="form-check" *ngFor="let role of roleType">
                            <input class="form-check-input" (click)="AddRole(role)" type="checkbox"
                                value="Software Engineer">
                            <span class="form-check-label">
                                {{role}}
                            </span>
                        </label>
                    </p-accordionTab>
                    <button pButton label="Apply Filter" (click)="Filter()"
                        class="p-button-raised p-button-text color p-button-plain w-full"></button>
                </form>
            </p-accordion>
        </div>

        <div id="right" class="col-xl-9 col-md-12 col-sm-12 mt-3">
            <div class="row">
                <div class="form-group col-xl-6 col-md-6 col-sm-6">
                    <div class="p-inputgroup">
                        <button type="button" class="input color" icon="pi pi-search" pButton pRipple></button>
                        <input pInputText pTooltip="Search By Company, Job Title, Package or City" type="text"
                            class="form-control input" placeholder="Search Job" [(ngModel)]="searchedKeyword">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-6">
                    <button pButton style="float: right;" class="p-button-raised p-button-text color p-button-plain"
                        (click)="sortDataByFreshness()">Sort By Freshness</button>
                    <!-- <button pButton style="float: right;" class="p-button-raised p-button-text color p-button-plain"
                        (click)="sortDataByPackage()">Sort By Package</button> -->
                </div>
            </div>
            <br>
            <div *ngIf="!isLoading;else skeleton">
            </div>
            <div *ngIf="!isLoading;else skeleton">
            </div>
            <div *ngIf="!isLoading;else skeleton">
            </div>
            <div class="card mb-4"
                style="box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;"
                *ngFor="let job of job | filter:searchedKeyword">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>{{ job.jobTitle }}</div>
                            <div style="color: #00c293; font-size: 15px;">{{ job.hr.companyName }}</div>
                            <br>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div><i class="pi pi-map-marker"></i> {{ job.jobCity }}</div>
                                </div>
                                <div *ngIf="job.package != 0;else notSpecified" class="col-lg-4">
                                    <div>
                                        <div><i class="pi pi-money-bill"></i> {{ job.package }}</div>
                                    </div>
                                </div>
                                <ng-template #notSpecified>
                                    <div class="col-lg-4">
                                        <div><i class="pi pi-money-bill"></i> Not Specified</div>
                                    </div>
                                </ng-template>
                                <div class="col-lg-4">
                                    <div>Openings: {{ job.noOfVacancy }}</div>
                                </div>
                            </div>
                            <br>
                            <div class="line-clamp">{{job.jobDescription}}</div>
                            <hr>
                            <div>
                                <div style="float: left;">Posted on {{ job.createdAt | date }}</div>
                                <button pButton class="p-button-raised p-button-text color p-button-plain"
                                    style="float: right;" (click)="openJobPage(job.jobId)">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p-paginator class="shadow" [rows]="10" [totalRecords]="count" (onPageChange)="paginate($event)">
            </p-paginator>
            <br>
            <br>
        </div>

        <!-- Skeleton -->
        <ng-template #skeleton>
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                            <br>
                            <div class="row">
                                <div class="col-lg-4">
                                    <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                                </div>
                                <div class="col-lg-4">
                                    <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                                </div>
                                <div class="col-lg-4">
                                    <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                                </div>
                            </div>
                            <br>
                            <p-skeleton styleClass="mb-2"></p-skeleton>
                            <p-skeleton styleClass="mb-2"></p-skeleton>
                            <hr>
                            <div class="flex justify-content-between mt-3">
                                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                                <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

    </div>
</div>