<div class="container-xl">
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="card " style="width: 25vw;height: 45vh;">
                <img class="card-img-top" src="..//..//../assets/avatar img.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;">Name of the HR</p>
                </div>
            </div>
            <div class="mt-3" style="width: 25vw;height: auto">
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card " style="width: 100%;height: 90vh;">
                <div class="card-body">
                    <h3 class="card-title">Personal Information</h3>
                    <p class="card-text pt-5">Name <br>Kanish</p>
                    <p class="card-text">Email <br>kanish@gmail.com</p>
                    <p class="card-text">Phone number <br>98745663201</p>
                    <p class="card-text">Company Name<br>Kovai.co</p>
                    <p class="card-text">City <br>Coimbatore</p>
                    <p class="card-text">Description <br>Coimbatore ......................................</p>
                </div>
            </div>
        </div>
    </div>
</div>