.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
    /* CHANGE HEIGHT BASED ON SCREEN SIZE */
    height: 85vh;
}

.bg-c-lite-green {
    background: #00C293
}

.text-green {
    color: #00C293;
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 500;
    font-size: 20px
}

.f-w-400 {
    font-size: 15px
}

.m-b-20 {
    margin-bottom: 25px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.width {
    margin-left: 12vw;
    margin-right: 12vw;
}

.color {
    background-color: #00C293 !important;
    color: white !important;
}

.input {
    border-color: #00C293 !important;
    box-shadow: 0 0 0 0.02rem #00C293 !important;
}

.text-color {
    color: #00C293 !important;
}

/* .parent {
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    top: 30px;
    right: 5px;
}

.image2 {
    position: absolute;
    top: 30px;
    left: 30px;
}

<div class="parent"><img class="image1"[src]="photoLink"width="100px"height="125px"/><img class="image2"[src]="photoLink"width="100px"height="125px"/></div> */