<!-- Human Resource Dashboard -->
<!-- Nav Bar -->
<app-navbar [items]="items"></app-navbar>
<!-- Loader -->
<div *ngIf="(!isLoadingHr) ;else componentloader">
    <!-- Human Resource Dashboard Content -->
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-4">
                <div class="card shadow">
                    <div class="job card-body">
                        <p class="card-text" style="font-weight: bolder;text-align: center;">No of Job Posted</p>
                        <h1 class="card-text" style="font-weight: bolder; font-size: 50px; text-align: center;">
                            {{jobAddByHr?.length}}</h1>
                    </div>
                </div>
                <div class="card mt-3 shadow">
                    <div class="vacancies card-body">
                        <p class="card-text" style="font-weight: bolder;text-align: center;">No of vacancies in Job
                            Posted
                        </p>
                        <div class="card-text">
                            <kendo-chart>
                                <kendo-chart-tooltip>
                                    <ng-template kendoChartSeriesTooltipTemplate let-value="value">
                                        {{ value }}
                                    </ng-template>
                                </kendo-chart-tooltip>
                                <kendo-chart-series>
                                    <kendo-chart-series-item [autoFit]="autofit" [startAngle]="150" type="donut"
                                        [data]="kendodata" categoryField="kind" field="share">
                                        <kendo-chart-series-item-labels position="outsideEnd" [content]="labelContent"
                                            color="Black" background="none">
                                        </kendo-chart-series-item-labels>
                                    </kendo-chart-series-item>
                                </kendo-chart-series>
                                <kendo-chart-legend [visible]="false"></kendo-chart-legend>
                            </kendo-chart>
                            <label>
                                <input type="checkbox" [(ngModel)]="autofit" />
                                <span>Toggle Autofit</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <button label="New Job" pButton pRipple (click)="showDialog()" icon="pi pi-plus"
                    class="p-button-raised p-button-text color p-button-plain" type="button" pTooltip="New Job Post">
                </button>
                <p-dialog header="New Job Post Registration" [(visible)]="display" [breakpoints]="{'960px': '75vw'}"
                    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false" [modal]="true"
                    class="New Job Post">
                    <form [formGroup]="registerForm">
                        <div class="row mb-4">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <label for="jobTitle" class="block text-900 font-medium mb-2">Job Title</label>
                                <input formControlName="jobTitle" type="jobTitle" pInputText
                                    placeholder="Enter Your Job Title"
                                    [ngClass]="{ 'is-invalid': submitted && h['jobTitle'].errors}"
                                    class="form-control w-full mb-3 input">
                                <div *ngIf="h['jobTitle'].touched && h['jobTitle'].errors" class="text-danger">
                                    <div *ngIf="h['jobTitle'].errors['required']">Job Title is required</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <label for="package" class="block text-900 font-medium mb-2">Package </label>
                                <input type="text" formControlName="package"
                                    [ngClass]="{ 'is-invalid': submitted && h['package'].errors }"
                                    placeholder="Enter Your Package" pInputText class="w-full mb-3 input form-control">
                                <div *ngIf="h['package'].touched && h['package'].errors" class="text-danger">
                                    <div *ngIf="h['package'].errors['required']">Package is required</div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <label for="noOfVacancy" class="block text-900 font-medium mb-2">Number Of Vacancy
                                </label>
                                <input type="text" formControlName="noOfVacancy"
                                    [ngClass]="{ 'is-invalid': submitted && h['noOfVacancy'].errors }"
                                    placeholder="Enter Your Number Of Vacancy" pInputText
                                    class="w-full mb-3 input form-control" pattern="^[0-9]{1,2}$">
                                <div *ngIf="h['noOfVacancy'].touched && h['noOfVacancy'].errors" class="text-danger">
                                    <div *ngIf="h['noOfVacancy'].errors['required']">Vacancy is required</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <label for="jobCity" class="block text-900 font-medium mb-2">Job City</label>
                                <p-dropdown formControlName="jobCity"
                                    [ngClass]="{ 'is-invalid': submitted && h['jobCity'].errors }"
                                    placeholder="Select your city from the list" [showClear]="true" [options]="cities"
                                    [(ngModel)]="selectedCity" class="w-full mb-3"></p-dropdown>
                                <div *ngIf="h['jobCity'].touched && h['jobCity'].errors" class="text-danger">
                                    <div *ngIf="h['jobCity'].errors['required']">City is required</div>
                                </div>
                            </div>
                            <div class="col col-md-12 col-sm-12">
                                <label for="jobDescription" class="block text-900 font-medium mb-2">Job
                                    Description</label>
                                <textarea [rows]="5" [cols]="30" pInputTextarea formControlName="jobDescription"
                                    placeholder="Enter Your Job Description"
                                    [ngClass]="{ 'is-invalid': submitted && h['jobDescription'].errors}"
                                    class="form-control w-full mb-3 input"></textarea>
                                <div *ngIf="h['jobDescription'].touched && h['jobDescription'].errors"
                                    class="text-danger">
                                    <div *ngIf="h['jobDescription'].errors['required']">Job Description is required
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button pButton pRipple label="Post" [disabled]="!registerForm.valid"
                            (click)="onSubmit(registerForm.value)"
                            class="p-button-raised p-button-text w-full color p-button-plain newpost">
                            <div *ngIf="!isLoading;else loader">
                            </div>
                            <ng-template #loader>
                                <div class="spinner-border text-light" role="status">
                                </div>
                            </ng-template>
                        </button>
                    </form>

                </p-dialog>

                <p-scrollPanel [style]="{width: '100%', height: '80vh'}">
                    <div class="card-deck" *ngIf="jobAddByHr.length > 0 && jobAddByHr != null else nojob;">
                        <div class="card mb-4"
                            style="box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;"
                            *ngFor="let c of jobAddByHr">
                            <div class="card-body">
                                <h5 class="card-title">{{c.jobTitle}}</h5>
                                <hr>
                                <p class="card-text line-clamp">{{c.jobDescription}}</p>
                                <button type="button" class=" btn btn" (click)="viewJob(c.jobId)">View</button>
                            </div>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <br>
    <br>
    <ng-footer class="bg-dark" logoUrl="https://hire360.blob.core.windows.net/resume/ks-logo.png"></ng-footer>
</div>
<ng-template #nojob>
    <h3 style="color: #120e43;">No Job in your city at this moment we are working on it.</h3>
</ng-template>
<!-- Loader Component -->
<ng-template #componentloader>
    <div class="container" style="margin-top: 30vh;">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <h2 style="text-align: center; color: #1D2564;">HIRE360</h2>
                <p-progressBar mode="indeterminate" [style]="{'height': '16px'}"></p-progressBar>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</ng-template>